@media screen and (max-width: 750px) {
    .info {
        padding-top: 100px;
    }
}
main .images img{
  max-width: 25%;
  height: auto;
  border: 4px solid slategrey;
  margin-left: 37.2%;
  margin-right: 37.2%;
  margin-top: 100px;
}

main .images h1{
  color: whitesmoke;
  text-align: center;
}