@media screen and (max-width: 750px) {
    .info {
        padding-top: 100px;
    }
}
main .images img{
  max-width: 25%;
  height: auto;
  border: 4px solid slategrey;
  margin-left: 37.2%;
  margin-right: 37.2%;
  margin-top: 100px;
}

.images li {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.images li a {
  color: whitesmoke;
}

.images li a :hover{
  text-decoration: underline #8082ed;
  color: #8082ed;
  cursor: pointer;
}